<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${listUser}" th:method="POST">
    <input type="text" th:field="*{name}" id="name" placeholder="имя">
    <br>
    <input type="text" th:field="*{email}" id="email" placeholder="почта">
    <br>
    <input type="text" th:field="*{country}" id="country" placeholder="страна">
    <input type="submit" value="добавить пользователя">
</form>
<br>
<br>
<br>
<a th:href="@{/users}"><input type="submit" value="таблица пользователей"/></a>
</body>
</html>